{% block body %}
{% if session['logged_out'] %}
<p> log in first!</p>
{% else %}

<link rel="stylesheet" href="/static/style.css" type="text/css">

<form action="/send" method="POST">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Message</h1>
            </div>

            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Title" name="username">
                </div>

                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Message" name="password">
                </div>

                <input type="submit" value="Send" class="btn btn-primary btn-large btn-block">
                <br>
            </div>
        </div>
    </div>
</form>

{% endif %}
{% endblock %}
